body{
   background-image: url(img/espaço.gif);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 24px;
    
}


.tl1{
    color: #fff;
    text-align: center;
}
.prg1{
    background-color:gray;
    text-align: left;
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.prg2{
    background-color:gray;
    text-align: left;
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.prg1:hover{                       
    background-color: green;
    font-size: 30px;
    margin: 25px;
   
}

.prg2:hover{
    background-color: green;
    font-size: 30px;
    
}

img{
    display: block;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
    height: auto;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    padding: 30px;
}


.btn1{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left: 30%;
    
}