.nav{
    height: 75px;
    width: 100%;
    background-color: black;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    
}
.text{
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: 50px;

}